<h1>Listing student_groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Institute</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_groups.each do |student_group| %>
  <tr>
    <td><%= student_group.name %></td>
    <td><%= student_group.institute_id %></td>
    <td><%= link_to 'Show', student_group %></td>
    <td><%= link_to 'Edit', edit_student_group_path(student_group) %></td>
    <td><%= link_to 'Destroy', student_group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student group', new_student_group_path %>
