<div class="row">
  <div class="span7 offset3">
    <%= form_for(@import) do |f| %>
        <% if @import.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@import.errors.count, "error") %> prohibited this import from being saved:</h2>

              <ul>
                <% @import.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>



        <div class="clearfix">
          <%= f.label :file %>
          <div class="input">
            <%= f.file_field :excel, :class=>"xlarge" %>
          </div>
        </div>

        <div class="clearfix">
          <%= f.label :file %>
          <div class="input">
            <%= f.select :institute_id,@institutes, :class=>"xlarge" %>
          </div>
        </div>




        <div class="row">
          <div class="span1 offset3">
            <% if params[:action]== "new" %>
                <%= f.submit "Submit", :class=>"primary btn" %>
            <% else %>
                <%= f.submit "Update", :class=>"primary btn" %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>